@page "/Estudiantes/Index/Edit/{Id:int}"

@rendermode InteractiveServer

@inject EstudiantesService estudiantesService
@inject NavigationManager navigationManager
@inject ToastService toastService

<PageTitle>Editar informacion del estudiante</PageTitle>

<div class="container w-75 mt-4">
    <div class="card shadow-lg border-0">
        <div class="card-header d-flex justify-content-between align-items-center bg-light">
            <h5 class="card-title">Editar informacion del estudiante</h5>
        </div>

        <EditForm Model="@estudiante" OnValidSubmit="Editar">
            <DataAnnotationsValidator />
            <div class="card-body d-flex flex-column gap-3">
                <div class="justify-content-start">
                    <label>Nombre completo: </label>
                    <InputText id="inputNombre" class="form-control" 
                               @bind-Value="estudiante.Nombres"
                               placeholder="Ingrese el nuevo nombre..." />
                    <ValidationMessage For="@(() => estudiante.Nombres)" />
                </div>
                <div class ="justify-content-start" >
                    <label>Correo electronico: </label>
                    <InputText id="inputEmail" class="form-control" 
                               @bind-Value="estudiante.Email"
                               placeholder="Ingrese la nueva direccion de correo..." />
                    <ValidationMessage For="@(() => estudiante.Email)" />
                </div>
                <div class="justify-content-start">
                    <label >Edad: </label>
                    <InputNumber step="1" id="inputEdad" class="form-control" 
                                 @bind-Value="estudiante.Edad"
                                 placeholder="Ingrese la edad actual del estudiante..." />
                    <ValidationMessage For="@(() => estudiante.Edad)" />
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center gap-2">
                <a href="/Estudiantes/Index" class="btn btn-secondary">
                    <span class="bi bi-arrow-left me-2"></span> Volver
                </a>
                <button type="submit" class="btn btn-primary bi bi-save me-2" @onclick="Editar"> Modificar </button>
                <button type="button" class="btn btn-danger bi bi-trash me-2" data-bs-toggle="modal" data-bs-target="#modalConfirm"> Eliminar </button>
            </div>
        </EditForm>
    </div>
</div> 
@* Modulo de confirmacion *@
<div class="modal fade" id="modalConfirm" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-bg-light text-black">
                <h5 class="modal-title">Alerta de confirmacion</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body"> ¿Esta seguro que desa eliminar el estudiante? </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary bi bi-x" data-bs-dismiss="modal"> Cancelar </button>
                <button type="button" class="btn btn-danger bi bi-trash me-2" @onclick="Eliminar"> Eliminar </button>
            </div>
        </div>
    </div>
</div>
@* Notificacion sucess/error *@
@if (toastEsVisible)
{
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div class="toast show text-bg-@mensaje.Type.ToString().ToLower()" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">@mensaje.Title</strong>
            </div>
            <div class="toast-body">
                @mensaje.Message
                <div class="progress mt-2">
                    <div class="progress-bar bg-success" id="progressBar"></div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    Estudiantes estudiante = new();
    string nombreActual = string.Empty;
    string emailActual = string.Empty;
    int edadActual;
    ToastMessage mensaje = new ToastMessage();
    bool toastEsVisible = false;
    private double progress;

    protected override async Task OnInitializedAsync()
    {
        estudiante = await estudiantesService.Buscar(Id);
        if (estudiante != null)
        {
            nombreActual = estudiante.Nombres;
            emailActual = estudiante.Email;
            edadActual = estudiante.Edad!.Value;
        }

    }

    async Task Editar()
    {
        var modificado = await estudiantesService.Modificar(estudiante);
        if (modificado)
            await mostrarToastProgress("Completado", "El estudiante ha sido editado con exito");
        else
            await mostrarToastProgress("Error", "Error al modificar el estudiante.");
        navigationManager.NavigateTo("/Estudiantes/Index");
    }
    async Task Eliminar()
    {
        await estudiantesService.Eliminar(estudiante.EstudianteId);
        await mostrarToastProgress("Completado", "El estudiante ha sido eliminado con exito");
        navigationManager.NavigateTo("/Estudiantes/Index");
    }
    async Task mostrarToastProgress(string titulo, string texto)
    {
        progress = 100;
        toastEsVisible = true;
        mensaje = toastService.ShowToast(titulo, texto);

        int duration = 3000;
        int intervalTime = 30;
        int steps = (int)duration / intervalTime;

        for (int i = 0; i < steps; i++)
        {
            await Task.Delay(intervalTime);
            progress -= 100.0 / steps;
            StateHasChanged();
        }
        toastEsVisible = false;
        StateHasChanged();
    }
}