@page "/Estudiantes/Index"

@rendermode InteractiveServer

@inject EstudiantesService estudiantesService
@inject NavigationManager navigationManager

<PageTitle>Registro de Estudiantes</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between align-items-center bg-light">
            <h5 class="card-title">Registro de Estudiantes</h5>
            <div class="d-flex align-items-center gap-2">
                <InputText id="inputFiltro" class="form-control" 
                           @bind-Value="ValorFiltro"
                           placeholder="Filtro de búsqueda..." />

                <button class="btn btn-outline-primary bi bi-search me-2" @onclick="Buscar"></button>
                <a href="/Estudiantes/Index/Create" class="btn btn-primary">
                    <span class="bi bi-plus-square mt-3"></span>
                </a>
            </div>
        </div>
        
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Edad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var estudiante in ListaEstudiantes)
                    {
                        <tr>
                            <td>@estudiante.Nombres</td>
                            <td class="text-muted">@estudiante.Email</td>
                            <td class="text-muted">@estudiante.Edad</td>
                            <td>
                                <a href="@($"/Estudiantes/Index/Edit/{estudiante.EstudianteId}")" class="btn btn-sm btn-outline-primary">
                                    <span class="bi bi-pencil-square"></span> 
                                </a>
                            </td>
                        </tr>
                     }
                </tbody>
            </table>

        </div>

        <div class="card-footer d-flex space-between ">
            <label>Cantidad: @ListaEstudiantes.Count</label>
        </div>
    </div>
</div>

@code {

    public List<Estudiantes> ListaEstudiantes { get; set; } = new List<Estudiantes>();

    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaEstudiantes = await estudiantesService.Listar(criterio: p => p.EstudianteId > 0);
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            ListaEstudiantes = await estudiantesService.Listar(
                criterio: p => p.Nombres.ToLower()
                    .Contains(ValorFiltro.ToLower()));

        }
        else
        {
            ListaEstudiantes = await estudiantesService.Listar(
                criterio: p => p.EstudianteId > 0);
        }
    }
}


