@page "/Estudiantes/Index/Edit/{Id:int}"

@rendermode InteractiveServer

@inject EstudiantesService estudiantesService
@inject NavigationManager navigationManager

<PageTitle>Editar informacion del estudiante</PageTitle>

<div class="container w-75 mt-4">
    <div class="card shadow-lg border-0">
        <div class="card-header d-flex justify-content-between align-items-center bg-light">
            <h5 class="card-title">Editar informacion del estudiante</h5>
        </div>

        <EditForm Model="@estudiante" OnValidSubmit="Editar">
            <DataAnnotationsValidator />
            <div class="card-body d-flex flex-column gap-3">
                <div class="justify-content-start">
                    <label>Nombre actual: </label>
                    <label>@nombreActual </label>
                    <InputText id="inputNombre" class="form-control" 
                               @bind-Value="estudiante.Nombres"
                               placeholder="Ingrese el nuevo nombre..." />
                    <ValidationMessage For="@(() => estudiante.Nombres)" />
                </div>
                <div class ="justify-content-start" >
                    <label>Direccion actual: </label>
                    <label>@emailActual</label>
                    <InputText id="inputEmail" class="form-control" 
                               @bind-Value="estudiante.Email"
                               placeholder="Ingrese la nueva direccion de correo..." />
                    <ValidationMessage For="@(() => estudiante.Email)" />
                </div>
                <div class="justify-content-start">
                    <label >Edad actual: </label>
                    <label>@edadActual</label>
                    <InputNumber step="1" id="inputEdad" class="form-control" 
                                 @bind-Value="estudiante.Edad"
                                 placeholder="Ingrese la edad actual del estudiante..." />
                    <ValidationMessage For="@(() => estudiante.Edad)" />
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center gap-2">
                <a href="/Estudiantes/Index" class="btn btn-secondary">
                    <span class="bi bi-arrow-left me-2"></span> Volver
                </a>
                <button type="submit" class="btn btn-primary bi bi-save me-2"> Modificar </button>
                <button type="button" class="btn btn-danger bi bi-trash me-2" @onclick="Eliminar"> Eliminar </button>
            </div>
        </EditForm>
    </div>
</div> 

@code{
    [Parameter]
    public int Id { get; set; }

    Estudiantes estudiante = new();
    string nombreActual = string.Empty;
    string emailActual = string.Empty;
    int edadActual;

    protected override async Task OnInitializedAsync()
    {
        estudiante = await estudiantesService.Buscar(Id);
        if (estudiante != null){
            nombreActual = estudiante.Nombres;
            emailActual = estudiante.Email;
            edadActual = estudiante.Edad!.Value;
        }
        
    }

    async Task Editar()
    {
        await estudiantesService.Modificar(estudiante);
        navigationManager.NavigateTo("/Estudiantes/Index");
    }
    async Task Eliminar()
    {
        await estudiantesService.Eliminar(estudiante.EstudianteId);
        navigationManager.NavigateTo("/Estudiantes/Index");
    }
}