@page "/Asignaturas/Index"

@rendermode InteractiveServer

@inject AsignaturasService asignaturasService
@inject NavigationManager navigationManager

<PageTitle>Registro de Asignaturas</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between align-items-center bg-light">
            <h5 class="card-title">Registro de Asignaturas</h5>
            <div class="d-flex align-items-center gap-2">
                <InputText id="inputFiltro" class="form-control"
                           @bind-Value="ValorFiltro"
                           placeholder="Filtro de búsqueda..." />

                <button class="btn btn-outline-primary" @onclick="Buscar"></button>
                <a href="/Asignaturas/Index/Create" class="btn btn-primary">
                    <span class="bi bi-plus-square "></span>
                </a>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Aula</th>
                        <th>Creditos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var asignatura in ListaAsignatura)
                    {
                        <tr>
                            <td class="text-muted">@asignatura.AsignaturaId</td>
                            <td class="text-muted">@asignatura.Codigo</td>
                            <td class="text-muted">@asignatura.Nombre</td>
                            <td class="text-muted">@asignatura.Aula</td>
                            <td class="text-muted">@asignatura.Creditos</td>
                            <td>
                                <a href="@($"/Asignaturas/Index/Edit/{asignatura.AsignaturaId}")" class="btn btn-sm btn-outline-primary">
                                    <span class="bi bi-pencil-square"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="card-footer d-flex space-between ">
            <label>Cantidad: @ListaAsignatura.Count</label>
        </div>
    </div>
</div>

@code {

    public List<Asignaturas> ListaAsignatura { get; set; } = new List<Asignaturas>();

    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaAsignatura = await asignaturasService.Listar(criterio: p => p.AsignaturaId > 0);
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            ListaAsignatura = await asignaturasService.Listar(
                criterio: p => p.Nombre.ToLower()
                    .Contains(ValorFiltro.ToLower()));

        }
        else
        {
            ListaAsignatura = await asignaturasService.Listar(
                criterio: p => p.AsignaturaId > 0);
        }
    }
}